<h1>🛒 Mercado Modelo</h1>

<div class="products">
  {{#each products}}
    <div class="product-card">
      <h3>{{this.title}}</h3>
      <p>Precio: ${{this.price}}</p>

      <form action="/api/carts/{{../cartId}}/products/{{this._id}}" method="POST">
        <button type="submit">Agregar al carrito</button>
      </form>
    </div>
  {{/each}}
</div>
