<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Mercado Modelo</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

  <header class="navbar">
    <h2>🥕 Mercado Modelo</h2>
    <nav>
      <a href="/">Inicio</a>
      <a href="/cart">🛒 Carrito</a>
    </nav>
  </header>

  <main class="container">
    {{{body}}}
  </main>

  <script src="/js/cart.js"></script>
</body>
</html>